* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    line-height: 0px;
    color: #888;
}

p {
    margin-bottom: 0px;
}



/* ----------------------------------- BIG BACKGROUND */

#background {
    width: 100vw;
    height: 100vh;
    background-color: #d9dbd4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg-darkgreen {
    width: 100%;
    height: 150px;
    background-color: #019688;
    position: absolute;
    z-index: 1;
}



/* ------------------------------------- MAIN WRAPPER */

#wrapper {
    width: 1440px;
    height: 95%;
    border-radius: 0px;
    box-shadow: 0px 5px 10px 0px #9998 ;
    /* margin-top: 25px; */
    z-index: 2;
}



/* ----------------------- WRAPPER LEFT */

#wp-left {
    width: 30%;
    height: 100%;
    background-color: #eee;
    float: left;
    display: flex;
    flex-direction: column;
}

#wp-left > div, #wp-right > div {
    width: 100%;
}


/* --------------------------------- IMPOSTAZIONI */
section.impostazioni {
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-utente {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: #aaa;
}

.impostazioni .img-0 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQInLTl7PzhK2Js_m4L7Ii4YO1OWL5pEOat1LbfS_4KLsOozCyT&usqp=CAU');
}

.impostazioni .opzioni {
    width: 35%;
    color: #888;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.impostazioni span.icon-chat {
    margin-right: -5px;
    margin-top: 2px;
}


/* ---------------------------- ATTIVA NOTIFICHE */
section.attiva-notifiche {
    height: 90px;
    background-color: #9de1fe;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 12px;
}

.icona-campanella {
    width: 45px;
    height: 45px;
    color: #9de1fe;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 15px;
}

.testo-attiva-notifiche p {
    font-size: 16px;
    color: #333;
}

.testo-attiva-notifiche a {
    font-size: 14px;
    color: #6796aa;
}

a:hover {
    color: #36505b;
    text-decoration: underline;
}


/* -------------------------------- SEZIONE CERCA */
section.cerca {
    height: 60px;
    background-color: #ededed;
    border-bottom: 1px solid #3332;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerca-wrapper {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px 5px 30px;
}

.cerca-wrapper span {
    color: #ddd;
}

.cerca-wrapper input {
    color: #333;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 10px 5px 30px;
    border: 0px transparent;
}

input:focus {
    outline: none;
}

::placeholder {
    font-size: 15px;
    color: #bbb;
}

/* ---------------------------------- ALL CHAT */
section.all-chat {
    width: 100%;
    height: calc(100% - 60px - 90px - 60px);
    background-color: #fff;
    overflow-y: scroll;
}


/* ----------------------------SINGLE CHAT */
.single-chat {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.all-chat button {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0px;
    display: flex;
}

.single-chat button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.single-chat button:focus {
    background-color: #9de1fe;
}

.chat {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.friend-name {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
}

.name {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.name p {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    /* margin-top: 10px; */
}

.time-date {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.time-date p {
    font-size: 13px;
    color: #999;
}

.anteprima-chat {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
}

.anteprima-chat .text {
    max-width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
}

.anteprima-chat .text p {
    font-size: 14px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-bottom: 10px; */
}

.option-chat {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.option-chat .bg-pin {
    width: 18px;
    height: 18px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.svg-pin path {
    fill: #fff;
}

.svg-show-options {
    margin-top: 3px;
}

.svg-show-options path {
    fill: #ccc;
}



/* --------------------------- WRAPPER RIGHT */

.template-conversazione{
    width: 70%;
    height: 100%;
    float: left;
}

/* .template-conversazione::after {
    display: table;
    clear: both;
    content: '';
} */

.wp-right {
    width: 100%;
    height: 100%;
    background-color: #ededed;
    flex-direction: column;
    display: flex;
}


/* --------------------------------- RIGHT TOP */
section.right-top {
    width: 100%;
    height: 60px;
    padding: 0px 17px;
    border: 1px solid #5552;
    display: flex;
    justify-content: space-between;
}

.right-top-left {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-1 {
    background-image: url('https://i1.wp.com/www.nerdpool.it/wp-content/uploads/2019/01/goku.jpg?resize=1068%2C639&ssl=1');
}

.img-2 {
    background-image: url('https://www.drcommodore.it/wp-content/uploads/2018/11/Majin-Vegeta-Wallpaper-HD35-990x484.jpg');
}

.img-3 {
    background-image: url('https://static3.cbrimages.com/wordpress/wp-content/uploads/2019/10/Unstoppable-Gohan-Cropped.jpg');
}

.img-4 {
    background-image: url('https://www.optimagazine.com/wp-content/uploads/2017/06/dragon-ball-trunks.jpg');
}

.img-5 {
    background-image: url('https://www.in-vendita.it/sh-img/hqdefault_junior%2Bdragon%2Bball.jpg');
}

.img-6 {
    background-image: url('https://www.dragonballforever.it/wp-content/uploads/2016/11/crilin5.jpg');
}

.img-7 {
    background-image: url('https://lh3.googleusercontent.com/proxy/jjKmH9kz3YaIuiWBIlQdg9qEUIbceJcc8gM9jVTNh3R-2ZAmXZLpBNE3M74q-nScwrw_h4j6RECJ8MfYdC2BSlv62oGtid0N6q3Kdm9MuFZ-BRhsW64Qd-X8OQ');
}

.img-8 {
    background-image: url('https://images.everyeye.it/img-notizie/rivelata-scarpa-adidas-ispirata-majin-bu-dragon-ball-z-v4-317363.jpg');
}

.img-9 {
    background-image: url('https://www.animeemanga.it/wp-content/uploads/2016/04/son-goten.jpg');
}

.img-10 {
    background-image: url('https://vignette.wikia.nocookie.net/virtualarena/images/6/6b/C18.jpg/revision/latest/scale-to-width-down/340?cb=20120331143609&path-prefix=it');
}

.right-top-left .img {
    margin-right: 17px;
}

.right-top-left p {
    font-size: 16px;
    font-weight: 500;
}



/* --------------------------------- RIGHT CENTER */
section.right-center {
    height: calc(100% - 60px - 80px);
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-size: auto;
    padding: 20px 80px;
    overflow-y: scroll;
    display: none;
}

.right-center.active{
    display: block;
}

.contatto-bubble-msg {
    max-width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px #3332;
    padding: 15px 15px 5px 15px;
    border-radius: 0px 8px 8px 8px;
    position: relative;
    float: left;
    clear: both;
    overflow-wrap: break-word;
    word-break: normal;
    /* display: none; */
}

.right-center.active h1 {
    font-size: 15px;
    color: red;
    font-weight: 600;
    float: left;
    clear: both;
}

.right-center.active p.text-message {
    float: left;
    clear: both;
}

.right-center.active small {
    font-size: 12px;
    color: #bbb;
    float: right;
    clear: both;
    margin-left: 30px;
}

.right-center.active .data-messaggio {
    max-width: 80%;
    height: auto;
    background-color: #e1f5feeb;
    box-shadow: 0px 2px 3px 0px #3332;
    float: left;
    clear: both;
    margin-left: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
    text-transform: uppercase;
}

.mio-bubble-msg {
    max-width: 60%;
    height: auto;
    float: right;
    clear: both;
    background-color: #DCF8C6;
    border-radius: 8px 0px 8px 8px;
    box-shadow: 0px 2px 3px 0px #3332;
    padding: 15px 15px 5px 15px;
    margin-top: 20px;
    position: relative;
    /* display: none; */
}

.mio-bubble-msg svg, .contatto-bubble-msg svg {
    opacity: 0;
    margin-left: 10px;
}

.mio-bubble-msg:hover svg, .contatto-bubble-msg:hover svg {
    opacity: 1;
    cursor: pointer;
}

.bubble-angle {
    transform: rotate(45deg);
    position: absolute;
}

.mio-bubble-msg .bubble-angle {
    color: #DCF8C6;
    right: -11px;
    top: -12px;
}

.contatto-bubble-msg .bubble-angle {
    left: -11px;
    top: -12px;
    color: #fff;
}

.mio-bubble-text-msg h1 {
    color: green;
}



/* --------------------------------- RIGHT BOTTOM */
section.right-bottom {
    height: 80px;
}

.right-top-right {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-top-right .allegato {
    transform: rotate(45deg);
}

.right-bottom {
    display: flex;
    align-items: center;
}

.emoji {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrivi-messaggio {
    width: 84%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

.scrivi-messaggio input {
    width: 100%;
    color: #333;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 10px 5px 30px;
    border: 0px transparent;
}

.icona-messaggio-vocale {
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
















/* END */
